      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vh;
        margin: 0;
        background-color: #f0f0f0; /*Optional: add a background color for contrast*/
        gap: 50px;
      }
      form {
        display: grid;
        grid-template-columns: auto 1fr;
        max-width: 450px;
        gap: 10px; /* Add some space between elements */
        padding: 20px; /* Add padding inside the form */
        background-color: white;
        border-radius: 10px; /* Round the corners of the form */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      label {
        text-align: left;
        display: flex;
        align-items: center;
      }

      input[type="text"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      input[type="password"],
      input[type="tel"],
      input[type="email"],
      input[type="date"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        grid-column: span 2;
      }

      #submit {
        grid-column: span 2;
        padding: 10px;
        background-color: rgb(21, 206, 98);
        color: white;
        font-weight: 700;
        font-size: large;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 45%;
      }

      #submit:hover {
        background-color: rgb(14, 228, 50);
      }

      .logo img {
        margin-left: 125px;
        max-width: 200px;
        margin-bottom: 30px;
      }
      .dob-container {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        grid-column: span 2;
      }
      .gen-container {
        display: flex;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        grid-column: span 2;
      }
      .gen-container label {
        width: calc(33.33% - 6.66px); /* Adjust width for each select field */
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .dob-container select {
        width: calc(33.33% - 6.66px); /* Adjust width for each select field */
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .head {
        text-align: center;
        grid-column: span 2;
      }

      .but {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    